<!DOCTYPE html>
<!--Code BY Webdevtrick ( https://webdevtrick.com )-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>jQuery Calendar | Webdevtrick.com</title>
  <link rel="stylesheet" href="css/style.css">
 
</head>
<body>


  <!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>

<!-- Link to open the modal -->
<p id="modal"><a href="#ex1" rel="modal:open">Open Modal</a></p>


<p></p>
<p></p>
<header>
  <div class="title-content">
    <button id="last"></button><span>
      <h1 id="month"></h1>
      <h2 id="year"></h2></span>
    <button id="next"></button>
  </div>
</header>

<div class="ci-cal-container" id="calendar"></div>
 
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<script  src="js/function.js"></script>

 <script>
   $(document).ready(function() {
    $( ".ci-event-row" ).on( "click", function() {
			console.log('clicked' );
		  });
    $("#modal").click();
     console.log( 'loaded');

    $( ".cellClasses" ).on( "click", function() {
			console.log( $( this ).text() );
		  });
});
   
 </script>

 
</body>
</html>