<!DOCTYPE html>
<!--Code BY Webdevtrick ( https://webdevtrick.com )-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Be Active</title>
  <link rel="stylesheet" href="css/style.css">
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
 <!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
<header>
  <div class="title-content">
    <button id="last"></button><span>
      <h1 id="month"></h1>
      <h2 id="year"></h2></span>
    <button id="next"></button>
  </div>
</header>
<div class="ci-cal-container" id="calendar"></div>
 <!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal" style="z-index: 0;">
  <form id="eventForm">
  <input type="text" id="eventName">
  <button id="saveEvent">Save</button>

  <input type="hidden" id="eventDate">
  </form>
  <a href="#" rel="modal:close">Close</a>
</div>
<a href="#ex1" id="popup-link" rel="modal:open"></a>
<script  src="js/function.js"></script>

 <script>
   $(document).ready(function() {
    {{!-- $( ".cellClasses" ).on( "dblclick", function() {
      console.log(this)
			$("#popup-link").click()
		  }); --}}

});
   
 </script>


</body>
</html>